  body
  {
    background-color: #9B59B6;
  }
  td {
  height: 100px;
  width: 100px;
  border-style: solid;
  background-size:100%;
  background-repeat:no-repeat;
  background-color:black;
  box-shadow: 10px 10px 10px 10px rgba(11,11,11,0.3);
  border-color:  #333;
  border-width: 3px;
  }

  td:hover
  {
    background-color:rgba(11,11,11,0.3);
  }
  table{
    position:absolute;
    left:30%;
    top:20%;
  }
  #over
  {
    visibility: hidden;
    font-size:100px;
    margin-left:33%;
    color:rgba(22,22,22,0.7);
    font-family: fantasy;
  }
  #winner
  {
    visibility: hidden;
    position: absolute;
    left:40%;
    top: -10%;
    font-size:100px;
    color:rgba(22,22,22,0.7);
    font-family: fantasy;
  }
  a
  {
    visibility: hidden;
    font-size:50px;
    position: absolute;
    left:40%;
    color:lightcyan;
    bottom:10%;
  }
  a:hover
  {
    color:black;
  }