body
{
  background-image: url('login.jpg');
  font-family:cursive;
  overflow: hidden;
  position: relative;
}
#navbar
{
  padding:20px;
  background-color:rgba(11,11,11,0.5);
}
#hello,#greeting
{
  color:white;
}
#greeting
{
  float: right;
  padding:30px;
  position: absolute;
  right:0px;
  top:-30px;
  border-bottom-left-radius:10px;
  background-color:rgba(200,200,200,0.3);
}
#greeting:hover
{
  padding:40px;
}
#sidebar
{
  width:20%;
  background-color:#ecf0f1;
  border-right:1px solid black;
  padding-bottom:24.4%;
}
#textdash
{
  border-top: 1px solid black;
  border-collapse: collapse;
  border-bottom:1px solid black;
  font-size:35px;
}
#dashboard
{
  font-size:40px;
}
#space
{
  padding-bottom:10px;
}
#imagespace
{
  margin-left:60px;
}
.item
{
  border-bottom:1px solid rgba(11,11,11,0.5);
}
#add
{
  position:absolute;
  top:200px;
  left:600px;
}
#input
{
  width:30%;
}
#length
{
  position: absolute;
  top: 130px;
  left: 40%;
  padding:20px;
  color: white;
  border-top-left-radius:10px;
  border-top-right-radius:10px;
  background-color:#34495e;
}
#length:hover
{
  padding:30px;
}
#itema:hover
{
  padding:20px;
  background-color:rgba(11,11,11,0.3);
}
#itemb:hover
{
  padding:20px;
  background-color:rgba(222,222,22,0.5);
}
#itemc:hover
{
  padding:20px;
  background-color:rgba(22,222,222,0.5);
}
