body::-webkit-scrollbar {
    width:1.3em;
}
body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 6px 6px 6px rgba(0,0,0,0.1);
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
}
body::-webkit-scrollbar-thumb {
  background-color: rgba(100,100,100,0.4) ;
  border-radius:3px;
}
body
{
  background-image: url(../img/bg-img.jpg);
  background-size: cover;
  background-repeat:no-repeat;
}
.jumbotron
{
  background-color: rgba(11,11,11,0.1);
}
.input-group
{
  padding:10px;
  background-color: rgba(11,11,11,0.1);
}
#container1,#container2,
{
  text-align: center;
}
.maincontainer
{
  overflow-y:scroll;
  height:40%;
  position: relative;
}
#containerdo
{
  background-color: rgba(11,11,11,0.1);
  border-radius:5px;
}
.maincontainer::-webkit-scrollbar {
    width: 0.7em;
}
.maincontainer::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 6px 6px 6px rgba(0,0,0,0.1);
    border-top-right-radius:4px;
    border-bottom-left-radius:4px;
}
.maincontainer::-webkit-scrollbar-thumb {
  background-color: rgba(100,100,100,0.8) ;
  border-radius:3px;
}
#topic a,#comment
{
  color: white;
}
#commentinformation
{
  width:100%;
  height:30%;
}
#img
{
  float: left;
}
.maincontainer #comment
{
  position: absolute;
}
.maincontainer #comment h6
{
  padding-bottom:40px;
}
#suggestionusername
{
  background-color: white;
  height:60px;
  overflow-y: scroll;
  display: none;
}
