/* PRE-REQUISTIES STARTS HERE */
/* PRE-REQUISTIES ENDS HERE */
/* HEADER STARTS HERE */
header h1
{

  float:left;
}
header h1 div
{
  display: inline-block;
}
header h1 #plus
{
  font-size:20px;
}
header h1 #white
{
  font-weight: lighter;
}
header nav
{
  float: right;
  padding:15px;
}
header nav ul li
{
  display: inline-block;
  margin-left:10px;
}
header nav ul li a
{
  text-decoration: none;
  color: lightgrey;
}
header nav ul li a:hover
{
  color:black;
}
/* HEADER ENDS HERE */
/* HEADER IMAGE STARTS HERE */
#headerimage
{
  clear: both;
  width:100%;
  height: 30%;
  padding-top:60px;
  padding-bottom:40px;
  margin-top:20px;
  background-color: #3498DB;
  background-image: url(cinqueterre.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#headerimage h2 , #headerimage p
{
  text-align: center;
  color: white;
}
#headerimage h2
{
  background-color:rgba(11,11,11,0.5);
  padding-top:20px;
  padding-bottom:20px;
  padding-left:40px;
  padding-right:40px;
  border-radius:13px;
  float: right;
  margin-right:560px;
}
#headerimage p
{
  clear: both;
  padding:20px;
}
/* HEADER IMAGE ENDS HERE */
/* SECTION STARTS HERE */
#section
{
  padding-left:350px;
  display:inline-block;
}
#section #articleone
{
  width:35%;
  float: left;
}
#section input
{
  background-color:#051230;
  padding:5px;
  padding-left:10px;
  padding-right:10px;
  color: white;
}
#section #articletwo
{
  width:35%;
  padding-right:50px;
  padding-left:50px;
  float: right;
  margin-right:180px;
}
/* SECTION ENDS HERE */
/* QUOTATION STARTS HERE */
#quotation
{
  padding-left:350px;
  width:62%;
}
#quotation blockquote
{
  background-color:rgba(200,200,200,0.1);
  margin-left:-1px;
  border-left:10px solid lightgrey;
}
#quotation blockquote p::before
{
  content:url(pg.gif);
  padding-left:10px;
  padding-right:20px;
}
/* QUOTATION ENDS HERE */
/* FOOTER STARTS HERE */
footer p strong
{
  font-family: sans-serif;
}
/* FOOTER ENDS HERE */
